body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


#form-validation-demo {
    text-align: center;
}

#Name, #Address, #Num {
    margin-top: 10px;
}


#text-area-letter-character-count {
    text-align: center;
}

#textArea {
    resize: none;
}


#url-form-validation-demo {
    text-align: center;
}

.greenIcon {
    color: #3fe645;
}

.redIcon {
    color: #f44336
}

#list {
    list-style-type: none;
}

#list1 {
    list-style-type: none;
}